<div class="mt-2", id="trash_<%= trash.id %>">
  <div class="media row mt-4">
    <div class="col-2">
      <%= image_tag trash.post_baner, class: "img-thumbnail d-flex mr-3" %>
    </div>
    <div class="col-9">
      <div class="media-body">
        <h5 class="mt-0 font-weight-bold">
          <%= link_to trash.title, trash %>
        </h5>
        <p class="line-clamp-1"><%= trash.content %></p>
        <strong>
          <%= trash.address %>
          <%= trash.ward_name %>
          <%= trash.district_name %>
          <%= trash.province_name %>
        </strong>
      </div>
    </div>
    <div class="col-1">
      <div class="row">
        <%= link_to edit_post_path(trash) do %>
          <i class="fa fa-edit fa-2x col-12"></i>
        <% end %>
        <% if current_user? trash.user %>
          <%= link_to trash, method: :delete, data: { confirm: t(".confirm_undo") }, remote: true do %>
            <i class="fa fa-undo fa-2x col-12"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="my-3">
</div>
