<% provide(:title, @user.first_name) %>
<div class="container mb-50 mt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading mb-50">
            <h4><%= t "users.show.profile"%></h4>
          </div>
          <div class="panel-body">
            <div class="box box-info">
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="center">
                      <%= image_tag avatar_img(@user), id: "profile-image1", class: "img-circle" %>
                      <% if current_user? @user %>
                        <%= file_field_tag "profile-image-upload", class: "hidden" %>
                        <div class="text-muted"><%= t "users.show.change_avatar" %></div>
                      <% end %>
                    </div>
                    <br>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "users.new.last_name"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.last_name %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                   <%= t "users.new.first_name"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.first_name %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <% if @user.name %>
                  <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                   <%= t "users.new.fb_name"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.name %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <% end %>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "users.new.email"%>
                  </div>
                  <div class="col-sm-7 col-xs-7 ">
                    <%= @user.email %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "users.show.phone"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.phone %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "users.show.birth_date"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.birthdate&.strftime(Settings.format_date)%>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "users.show.address"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= @user.full_address %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <% if current_user?(@user) && @post_likes.any? %>
          <h3><%= t(".post_like", count: @post_likes.count) %></h3>
          <div class="paginator"><%= paginate @post_likes %></div>
          <ul class="post-likes">
            <%= render @post_likes %>
          </ul>
          <div class="paginator"><%= paginate @post_likes %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
