<% provide(:title, @user.first_name) %>
<div class="container mb-50 mt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading mb-50">
            <h4><%= t "views.users.show.profile"%></h4>
          </div>
          <div class="panel-body">
            <div class="box box-info">
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="center">
                      <%= image_tag avatar_img, id: "profile-image1", class: "img-circle" %>
                      <%= file_field_tag "profile-image-upload", class: "hidden" %>
                      <div class="text-muted"><%= t "views.users.show.change_avatar" %></div>
                    </div>
                    <br>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "views.users.new.last_name"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= current_user.last_name %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                   <%= t "views.users.new.first_name"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= current_user.first_name %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "views.users.new.email"%>
                  </div>
                  <div class="col-sm-7 col-xs-7 ">
                    <%= current_user.email %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "views.users.show.phone"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= current_user.phone %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "views.users.show.birth_date"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= current_user.birthdate&.strftime(Settings.format_date)%>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="row">
                  <div class="col-sm-5 col-xs-5 title">
                    <%= t "views.users.show.address"%>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                    <%= current_user.full_address %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
