<div class="search-field">
  <%= form_tag(posts_path, method: "get", remote: true, class: "search-form") do %>
    <div class="row">
      <div class="col-lg-12 d-flex align-items-center justify-content-center toggle-wrap">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6">
        <%= select_tag :province, options_for_select(@provinces || []),
          include_blank: t("address.select_province"),
            id: "select-province", class: "browser-default custom-select" %>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="js-select-district-post col">
          <%= render partial: "posts/district" %>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="js-select-ward-post col" >
          <%= render partial: "posts/ward" %>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6">
        <%= select_tag :house_type, options_for_select(house_types),
          include_blank: t("post.house_type"), class: "app-select form-control" %>
      </div>
      <div class="col-lg-4 range-wrap">
        <p><%= t "static_pages.baner.price_range" %></p>
        <%= text_field_tag :price_range, nil, id: "range" %>
      </div>
      <div class="col-lg-4 range-wrap">
        <p><%= t "static_pages.baner.area_range" %></p>
        <%= text_field_tag :area_range, nil, id: "range2" %>
      </div>
      <div class="col-lg-4 d-flex justify-content-end">
        <%= button_tag t("static_pages.baner.search_properties"), class: "primary-btn ajax-load" %>
      </div>
    </div>
  <% end %>
</div>
