<% provide :title, t("post.create_post") %>
<div class="container my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <div class="row d-flex justify-content-center">
      <div class="col text-center">
        <%= form_for @post, url: posts_path do |f| %>
          <h2 class="mb-4"><%= t "post.create_post" %></h2>
          <%= render "shared/error_messages", object: f.object %>
          <div class="md-form md-outline">
              <%= f.text_field :title, class: "form-control mb-2", id: "title" %>
              <label for="title"><%= t "post.title" %></label>
          </div>
          <div class="form-row mb-1">
            <div class="col md-form md-outline">
              <%= f.select :house_type, options_for_select(house_types),
                {include_blank: t("post.house_type")},
                  {class: "browser-default custom-select"} %>
            </div>
            <div class="col md-form md-outline">
              <%= f.number_field :total_bathroom, min: Settings.total_min,
                class: "form-control mb-1", id: "total_bathroom" %>
              <label for="total_bathroom"><%= t "post.total_bathroom" %></label>
            </div>
            <div class="col md-form md-outline">
              <%= f.number_field :total_bedroom, min: Settings.total_min,
                class: "form-control mb-1", id: "total_bedroom" %>
              <label for="total_bedroom"><%= t "post.total_bedroom" %></label>
            </div>
            <div class="col md-form md-outline">
              <%= f.number_field :area, min: Settings.total_min,
                class: "form-control mb-1", id: "area" %>
              <label for="area"><%= t "post.area" %></label>
            </div>
            <div class="col md-form md-outline">
              <%= f.number_field :price, min: Settings.total_min,
                class: "form-control mb-1", id: "price" %>
              <label for="price"><%= t "post.price" %></label>
            </div>
          </div>
          <div class="md-form md-outline">
            <%= f.text_field :address, class: "form-control mb-2", id: "address" %>
            <label for="address"><%= t "post.address" %></label>
          </div>
          <div class="form-row mb-2">
            <div class="col">
              <%= select_tag :province, options_for_select(@provinces || []),
                include_blank: t("address.select_province"),
                  id: "select-province", class: "browser-default custom-select" %>
            </div>
            <div class="js-select-district-post col",>
              <%= render partial: "posts/district" %>
            </div>
            <div class="js-select-ward-post col" >
              <%= render partial: "posts/ward" %>
            </div>
          </div>
          <div class="md-form md-outline">
            <%= f.text_area :content, id: "content", rows: 3, class: "md-textarea form-control"%>
            <label for="content"><%= t "post.content" %></label>
          </div>
          <%= f.fields_for :post_pictures do |p| %>
            <div class="custom-file mb-4">
              <%= p.file_field :image_url, multiple: true, name: "post_pictures[image_url][]",
                class: "custom-file-input", id: "inputGroupFile01" %>
                <label class="custom-file-label" for="inputGroupFile01">
              <%= t "post.add_picture"%>
            </label>
            </div>
          <% end %>
          <%= f.submit t("post.create_post"), class: "btn btn-info my-4 btn-block" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
