<div class="content_inner">
  <% if current_user? @author %>
    <%= link_to edit_post_path(@post) do %>
      <i class="fa fa-edit fa-2x"></i>
    <% end %>
  <% end %>
  <h1 class="title"><%= @post.title %></h1>
   <div class="mt-4">
    <i class="fa fa-paperclip"></i>
    <span id="post_<%= @post.id %>_favorites_count">
      <%= @post.post_favorites.count %>
    </span>
    <%= render partial: "favorites", locals: {post: @post} %>
  </div>
  <div class="mb-3">
    <i class="fa fa-map-marker fa-2x"></i>
    <strong>
      <%= @post.address %>
      <%= @post.ward_name %>
      <%= @post.district_name %>
      <%= @post.province_name %>
    </strong>
  </div>
  <div class="row">
    <div class="col-2">
      <i class="fa fa-home fa-2x"></i>
      <strong>
        <%= t "post.#{@post.house_type}" %>
      </strong>
    </div>
    <div class="col-2">
      <i class="fa fa-bed fa-2x"></i>
      <strong>
        <%= t ".bed_room" %>
        <%= @post.total_bedroom %>
      </strong>
    </div>
    <div class="col-2">
      <i class="fa fa-bath fa-2x"></i>
      <strong>
        <%= t ".bath_room" %>
        <%= @post.total_bathroom %>
      </strong>
    </div>
    <div class="col-2">
      <i class="fa fa-american-sign-language-interpreting fa-2x"></i>
      <strong>
        <%= t ".area", area: @post.area %>
      </strong>
    </div>
    <div class="col-4">
      <i class="fa fa-american-sign-language-interpreting fa-2x"></i>
      <strong>
        <%= t ".price", price: number_to_currency(@post.price, delimiter: ".") %>
      </strong>
    </div>
  </div>
  <div class="mt-4">
    <strong class="mb-4">
      <%= t ".content" %>
    </strong>
    <p>
      <%= content_first_half @post %>
      <span id="dots"><%= t ".dot" %></span>
      <span id="more"><%= content_second_half @post %></span>
    </p>
    <button id="show_more"><%= t ".show_more"%></button>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="slider" class="flexslider">
      <ul class="slides slides-custom">
        <% @post_pictures.each do |gallery| %>
          <li><%= image_tag gallery.image.url, class: "item-img" %></li>
        <% end %>
      </ul>
    </div>
    <div id="carousel" class="flexslider ">
      <ul class="slides ">
        <% @post_pictures.each do |gallery| %>
          <li><%= image_tag(gallery.image.url) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <strong>
      <%= t ".post_by" %>
    </strong>
    <%= link_to user_path(@post.user) do %>
      <%= image_tag avatar_img(@author) , class: "avatar rounded-circle z-depth-1" %>
      <strong>
        <%= @author.last_name %>
        <%= @author.first_name %>
        <span class="badge badge-info"><%= @author.email %></span>
        <span class="badge badge-info"><%= @author.phone %></span>
      </strong>
    <% end %>
  </div>
</div>
