 <div class="container my-5 py-5 z-depth-1">
  <section class="text-center">
    <h3 class="font-weight-bold mb-5"><%= t ".details" %></h3>
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="slider" class="flexslider">
                  <ul class="slides slides-custom">
                    <% @post_pictures.each do |gallery| %>
                      <li><%= image_tag gallery.image_url.url, class: "item-img" %></li>
                    <% end %>
                  </ul>
                </div>
                <div id="carousel" class="flexslider ">
                  <ul class="slides ">
                    <% @post_pictures.each do |gallery| %>
                      <li><%= image_tag(gallery.image_url.url) %></li>
                    <% end %>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 text-center text-md-left">
        <h2 class="h2 font-weight-bold mb-3">
          <strong><%= @post.title %></strong>
        </h2>
        <h3>
          <span class="badge badge-primary"><%= t "post.#{@post.house_type}" %></span>
          <span class="badge badge-warning">
            <%= t(".price", price: number_to_currency(@post.price, delimiter: ".")) %>
          </span>
        </h3>
        <div class="accordion md-accordion" id="accordionEx" role="tablist"
          aria-multiselectable="true">
          <div class="card">
            <div class="card-header waves-light" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx"
                href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1" class="panel-collapse">
                <h5 class="mb-0"><%= t ".content" %></h5>
              </a>
            </div>
            <div id="collapseOne1" class="collapse show" role="tabpanel"
              aria-labelledby="headingOne1" data-parent="#accordionEx">
              <div class="card-body">
                <%= @post.content %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="mb-0"><%= t ".details" %></h5>
              </a>
            </div>
            <div id="collapseTwo2" class="collapse" role="tabpanel"
              aria-labelledby="headingTwo2" data-parent="#accordionEx">
              <div class="card-body">
                <h4>
                  <%= t ".bed_room" %>
                  <span class="badge badge-secondary">
                    <%= @post.total_bedroom %>
                  </span>
                  <%= t ".bath_room" %>
                  <span class="badge badge-primary">
                    <%= @post.total_bathroom %>
                  </span>
                  <%= t ".area" %>
                  <span class="badge badge-default">
                    <%= @post.area %>
                  </span>
                </h4>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFour4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                <h5 class="mb-0"><%= t ".address" %></h5>
              </a>
            </div>
            <div id="collapseFour4" class="collapse" role="tabpanel"
              aria-labelledby="headingFour4" data-parent="#accordionEx">
              <div class="card-body">
                <p>
                <span class="badge badge-info"><%= @post.address %></span>
                <span class="badge badge-info"><%= @post.ward_name %></span>
                <span class="badge badge-info"><%= @post.district_name %></span>
                <span class="badge badge-info"><%= @post.province_name %></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="mb-0"><%= t ".post_by" %></h5>
              </a>
            </div>
            <div id="collapseThree3" class="collapse" role="tabpanel"
              aria-labelledby="headingThree3" data-parent="#accordionEx">
              <div class="card-body">
                <span>
                  <%= image_tag avatar_img(@author) , class: "avatar rounded-circle z-depth-1" %>
                  <%= @author.last_name %>
                  <%= @author.first_name %>
                </span>
                <span class="badge badge-info"><%= @author.email %></span>
                <span class="badge badge-info"><%= @author.phone %></span>
              </div>
            </div>
          </div>
        </div>
        <% if current_user? @author %>
          <%= link_to t(".edit_post"), edit_post_path(@post), class:"dropdown-item text-info" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
