<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark default-color justify-content-between">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Settings.website_logo, alt: "Brand", class: "logo-icon d-inline-block align-top"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav ml-">
        <li class="nav-item active">
          <%= link_to t("header.home"), root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to t("header.post"), posts_path, remote: true, class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><%= t "language"%>
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <%= link_to t("header.english"), locale:"en"%>
            <%= link_to t("header.vietnamse"), locale:"vi"%>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <a class="nav-item mt-2 mr-4" id ="search-icon"><i class="fa fa-search fa-2x"></i></a>
        <% if logged_in? %>
          <li><%= link_to t("post.create_post"), new_post_path, class: "btn btn-default", "data-turbolinks" => false %></li>
          <li class="d-none d-xl-inline-block ml-1 mt-2 ml-2 mr-2" id="noti">
            <%= render "notifications/notifications" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="d-none d-xl-inline-block ml-1">
                <%= image_tag avatar_img(current_user), class: "avatar rounded-circle z-depth-1" %>
             </span>
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to t(".posteds"), posteds_path, class:"dropdown-item" %>
              <%= link_to t(".trashs"), trashs_path, class:"dropdown-item" %>
              <%= link_to t("static_pages.header.profile"), current_user, class:"dropdown-item" %>
              <%= link_to t("static_pages.header.update_profile"), edit_user_path(current_user), class:"dropdown-item" %>
              <%= link_to t("static_pages.header.log_out"), logout_path, method: :delete, class:"dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li><%= link_to t("header.registration"), signup_path, class: "btn btn-default" %></li>
          <li><%= link_to t("header.login"), login_path, class: "btn btn-default" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container hide" id ="search-box">
 <%= render "shared/search" %>
</div>
